@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  
  --pure-white: #FFFFFF;
  --white: #F8F8F8;
  --blue: #5072E8;
  
  color: var(--blue);
  width: 100%;
  background-color: var(--white);
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}